<section>
  <h2>{{ team.name }}</h2>
  
  <table>
    <caption>Fixtures</caption>
    <thead>
      <tr>
        <th>Date</th>
        <th>Opponent</th>
        <th>Score</th>
      </tr>
    </thead>
    <tbody>
      {{#each matches }}
      <tr class="{{ cls }}">
        <td>{{ date }}</td>
        <td><img src="/img/logos/{{ logo }}" alt="{{ name }} Logo">
          {{#if home }}
          <a href="/teams/{{ [TeamB.id] }}">{{ [TeamB.name] }}</a>
          {{ else }}
          <a href="/teams/{{ [TeamA.id] }}">{{ [TeamA.name] }}</a>
          {{/if }}
        </td>
        <td>{{ score }}</td>
      </tr>
      {{/each }}
    </tbody>
  </table>
</section>
<style>
  tr.win > td {
    background-color: rgba(128, 255, 128, 0.4);
  }
  tr.lose > td {
    background-color: rgba(255, 128, 128, 0.4);
  }
</style>