<section>
  <img class="big_logo" src="/img/logos/{{ team.logo }}" alt="{{ team.name }} logo" />
  <h2>{{ team.name }}</h2>
  
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th colspan="2">Opponent</th>
        <th>Score</th>
      </tr>
    </thead>
    <tbody>
      {{#each matches }}
      <tr class="{{ cls }}">
        <td>{{ date }}</td>
        <td class="logo"><img src="/img/logos/{{ logo }}" alt="{{ name }} Logo"></td>
        <td>
          {{#if home }}
          <a href="/teams/{{ [TeamB.id] }}">{{ [TeamB.name] }}</a>
          {{ else }}
          <a href="/teams/{{ [TeamA.id] }}">{{ [TeamA.name] }}</a>
          {{/if }}
        </td>
        <td class="score">{{ score }}</td>
      </tr>
      {{/each }}
    </tbody>
  </table>
  <div class="prev">
    <h4>Previous Results</h4>
    <a href="/teams/{{ team.id }}/2011">2011</a>
    <a href="/teams/{{ team.id }}/2013">2013</a>
    <a href="/teams/{{ team.id }}/2014">2014</a>
    <a href="/teams/{{ team.id }}/2015">2015</a>
    <a href="/teams/{{ team.id }}/2016">2016</a>
  </div>
</section>
<style>
  tr.win > td {
    background-color: rgba(128, 255, 128, 0.4);
  }
  tr.lose > td {
    background-color: rgba(255, 128, 128, 0.4);
  }
</style>