<section>
  
  {{#each weeks }}
    <table>
      <caption>Week {{ round }} ({{ date }})</caption>
      <tbody>
        {{#each fixtures }}
        <tr class="{{ cls }}">
          <td><a href="/teams/{{ teama.id }}">{{ teama.name }}</a></td>
          <td>{{ score }}</td>
          <td><a href="/teams/{{ teamb.id }}">{{ teamb.name }}</a></td>
        </tr>
        {{/each }}
      </tbody>
    </table>
  {{/each }}
  
</section>
