<section>
  
  <h2>{{ title }}</h2>
  
  {{#each weeks }}
    <table>
      <caption>Week {{ round }} ({{ date }})</caption>
      <tbody>
        {{#each fixtures }}
        <tr>
          <td class="logo"><img src="/img/logos/{{ teama.logo }}" alt="{{ teama.name }} Logo"></td>
          <td><a href="/teams/{{ teama.id }}">{{ teama.name }}</a></td>
          <td class="score">{{ score }}</td>
          <td><a href="/teams/{{ teamb.id }}">{{ teamb.name }}</a></td>
          <td class="logo"><img src="/img/logos/{{ teamb.logo }}" alt="{{ teamb.name }} Logo"></td>
        </tr>
        {{/each }}
      </tbody>
    </table>
  {{/each }}
  
</section>
